<app-navigation></app-navigation>

<div class="row mb-4">
  <header>
    <div class="textos">
      <div class="col-md-4 offset-md-4">
        <div class="card mt-4" style="border-radius:20px;">
          <div class="card-header text-center">
            <h3>{{"SIGN_IN.LOGIN" | translate}}</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="form-label">{{"SIGN_IN.CORREO" | translate}}</label>
                <input type="email" name="username" [(ngModel)]="user.vch_userusuario"
                  placeholder="{{'SIGN_IN.PH_INSERTE_EMAIL' | translate}}" class="form-control">
              </div>
              <div class="form-group">
                <label class="form-label">{{"SIGN_IN.CONTRASENA" | translate}}</label>
                <input type="password" name="password" [(ngModel)]="user.vch_userclave"
                  placeholder="{{'SIGN_IN.PH_INSERTE_CONTRASENA' | translate}}" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary btn-block mt-4" (click)="login()">
                {{"SIGN_IN.INGRESAR" | translate}}
              </button>
              <p class="mt-4 text-center">{{"SIGN_IN.NO_TIENES_CUENTA" | translate}} <a
                  href="/signup">{{"SIGN_IN.REGISTRATE" | translate}}</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="sesgoabajo"></div>
  </header>

</div>
